/*

#495a69 - Borders, headings, submit buttons, paragraphs,
	      placeholder color on light inputs
#6db1ea - Link color
#798a99 - Login and signup inputs, link hover color,
		  button hover background
#cce1f1 - Background trip and profile sections
#e4f2fd - Background
#edf4f9 - Trip hover, placeholder color on dark inputs
#ffffff - Button font color

#cccee1 - Estimate Login and signup background with no opacity
rgba(202,202,222,.5) - Login and signup background
rgba(228,242,253,.95) - Search results background

*/

/* Default Element Styles
 */
html { height: 100%; }

body {
	/*background: url("../img/background-split.png") fixed center center no-repeat;*/
	background: #e4f2fd;
	background-size: cover;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	height: 100%;
    margin: 0;
    min-height: 100%;
    padding-top: calc(3rem + 1px);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

*::-webkit-input-placeholder {
	color: #edf4f9 !important;
} *:-moz-placeholder {
	color: #edf4f9 !important;
} *::-moz-placeholder {
	color: #edf4f9 !important;
} *:-ms-input-placeholder {
	color: #edf4f9 !important;
}

a, .fake-link {
	color: #6db1ea;
	font-weight: 700;
	margin: .4em 0;
	text-decoration: none;
	transition: color .2s;
}

a:hover, .fake-link:hover { color: #798a99; }

div {box-sizing: border-box;}

h1, h2, h3, h4, h5, h6, p {
	color: #495a69;
	font-weight: 500;
	margin: .5em 0;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

p { line-height: 1.5rem; }

ul {
	box-sizing: border-box;
	font-weight: 400;
	padding-left: 0;
}

ul li {
	box-sizing: border-box;
	color: #495a69;
	height: 1.5rem;
	line-height: 1.5rem;
	list-style: none;
}


/* Default Form Styles
 */
button, .btn {
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-user-select: none;
	background: #495a69;
	border-radius: .2rem;
	border: 1px solid rgba(228,242,253,.1);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
	padding: .4em .8rem;
	text-align: center;
	touch-action: manipulation;
	transition: background .2s;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

button:hover, .btn:hover {
	background: #798a99;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
.input-placeholder,
textarea {
	background: #798a99;
	border-radius: .2rem;
	border: transparent;
	box-shadow: 2px 2px 5px rgba(0,0,0,.2) inset,
	-2px -2px 5px rgba(0,0,0,.2) inset;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font: inherit;
	height: 2.6rem;
	line-height:     1.6rem;;
	margin-bottom: .6rem;
	opacity: .9;
	padding: .5rem;
	width: 100%;
}

input.transparent,
.input-placeholder.transparent,
textarea.transparent {
    background: rgba(228,242,253,.02);
    border: 1px solid rgba(228,242,253,.1);
}

input:focus {
	background: rgba(73,90,105,.4);
	outline: none !important;
}

label {
	box-sizing: border-box;
	color: #fff;
	display: block;
	height: 100%;
	padding: .7em .5em .5em 2rem;
}

textarea {
	display: block;
	height: 6.6rem;
	line-height: 1rem;
	resize: none;
}


/* Extended Form Styles
 */

.alert {
	background: rgba(228,242,253,.95);
	border: 1px solid #495a69;
	border-radius: .2rem;
	left: 2%;
	padding: 2rem 1rem 1rem 1rem;
	position: fixed;
	top: 2%;
	width: 96%;
	z-index: 10;
}

.hashtagInput { margin-bottom: 0; }

.item {
	background: #495a69;
	border-radius: .4rem;
	color: #fff;
	float: left;
	padding: .2rem .4rem;
	margin:  0 .4rem .4rem 0;
	transition: .2s;
}

.item:hover { background: #798a99; }

.item-wrapper {
	border: transparent;
	margin-bottom: .2rem;
}

input.hasBtn,
.input-placeholder.hasBtn {
	border-bottom-left-radius: .0;
	border-top-left-radius: 0;
	width: calc(100% - 2.6rem);
}

.loading {
	border: .8rem solid #495a69;
	border-right-color: #798a99;
	border-bottom-color: #A3B6C5;
	border-left-color: #cce1f1;
	border-radius: 50%;
	height: 2.4rem; width: 2.4rem;
	position: absolute;
	top: calc(50% - .9rem); left: calc(50% - .9rem);
	z-index: 6;
	-webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}

.pendingRequests .btn {
 	font-size: .8rem;
 	float: right;
    padding: .1em .5rem;
    margin-left: .4rem;
    transition: .2s;
}

.pendingRequests .btn:hover { background: #798a99; }

.pendingRequestsPopup {
    position: absolute;
    background: rgba(228,242,253,.95);
    padding: .6rem;
    white-space: nowrap;
    z-index: 2;
}

.splitRatio input {
	position: absolute;
	right: 0;
	top: 0;
	width: 5.7rem;
}

.subtext {
	color: #798a99;
	font-size: .9rem;
	font-weight: normal;
}

a.subtext {
	color: #798a99 !important;
}

a.subtext:hover {
	color: auto;
}

.ui-checkbox {
	background: #798a99;
	border-radius: .2rem;
	min-height: 2.6rem;
	margin-bottom: .6rem;
	position: relative;
	width: 100%;
}

.ui-checkbox input[type="checkbox"] {
	height: 1rem; width: 1rem;
	left: .6rem;
	margin: 0;
	position: absolute;
	top: .8rem;
}

.ui-checkbox-transparent {
	background: rgba(228,242,253,.02);
	border: 1px solid rgba(228,242,253,.1);
	color: #fff;
}

.ui-error {
	margin: 0;
	text-align: left;
}

.ui-input-btn, .ui-checkbox-btn {
	background: #495a69;
	border-bottom-left-radius: .2rem;
	border-top-left-radius: .2rem;
	color: #fff;
	float: left;
	height: 2.6rem;
	line-height: 2.6rem;
	text-align: center;
	transition: .2s;
	width: 2.6rem;
	vertical-align: middle;
}

.ui-input-btn  > .font-large { font-size: 2rem; }

.ui-input-btn:hover { background: #798a99; }

.ui-input-btn img {
	vertical-align: middle;
	width: 2em;
}

/*	General Classes
 */
.arw-up {
	border: .8em solid transparent;
	border-bottom: .8em solid rgba(228,242,253,.95);
	content: " ";
	height: 0;
	left: 0;
	position: absolute;
	bottom: 100%;
}

.btn-full {
	font-size: 1.6rem;
	width: 100%;
}

.btn-half {
	display: block;
	float: left;
	margin: 0 .6em 0 0;
	width: calc(50% - .3rem);
}

.btn-half:nth-of-type(2) {
	margin: 0;
}

.btn-thin {
	height: 2.6rem;
	line-height: 1rem;
}

.centered { text-align: center; }

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.editButton {
	height: 1em;
	position: relative;
    top: .1em;
    transition: .2s;
    z-index: 0;
}

.editButton:hover { opacity: .5; }

.hidden, .delay-visible { display: none; }

.hovertext:hover { opacity: .5; }

.left-col { margin: .5rem .5rem .25rem .5rem; }

.right-col { margin: .25rem .5rem; }

#main {
	max-width: none;
	width: 100%;
}

#main > div { overflow: auto; }

.margin-bottom { margin-bottom: .5rem; }

.margin-top { margin-top: .5rem; }

.popup {
	background: rgba(202, 202, 222, .9);
	border-radius: .2rem;
	box-sizing: border-box;
	left: 0;
	position: absolute;
	padding: 1rem;
	top: 0;
	width: 100%;
	z-index: 5;
}

.popup.standout {
	background: #cccee1;
	border: 1px solid #495a69;
}

.closePopup {
	float: right;
	margin-bottom: 1rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
	transition: .2s;
	width: 1.2rem;
}

.closePopup-small { height: 1rem; width: 1rem; }

.pos-r { position: relative; }

.visible { display: block !important; }


/* Calendar Date Picker
 */
.datePicker {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	background: #edf4f9;
	border: 1px solid #495a69;
	border-radius: .2rem;
	left: calc(50% - 9.3em - 1px);
	padding: .2rem;
	position: absolute;
	text-align: center;
	top: 8rem;
	width: calc(18.6em + 2px);
	z-index: 6;
}

.datePicker h4 { margin: .8em 0; }

.datePicker .weekdays > div,
.datePicker .currentMonth,
.datePicker .otherMonth {
	border-radius: 50%;
	float: left;
	height: 2.2rem;
	line-height: 2rem;
	margin: .2rem;
	transition: .2s;
	width: 2.2rem;
}

.datePicker .currentMonth {
	background: #cce1f1;
	color: #495a69;
}

.datePicker .currentMonth:hover, .datePicker .selected {
	background: #495a69;
	color: #fff;
}

.datePicker .otherMonth {
	background: #edf4f9;
	color: #ccc;
}

.datePicker .otherMonth:hover {
	background: #cce1f1;
	color: #495a69;
}

.datePicker .weekday { background: 0; }

.datePicker ul.prevNextMonth {
	padding: 0;
	margin: 0;
}

.datePicker ul.prevNextMonth li {
	color: #495a69;
	float: left;
	font-weight: bold;
	font-size: 2rem;
	height: .8rem;
	list-style: none;
	line-height: .5rem;
	margin: 0;
	transition: .4s;
	width: 50%;
}

.datePicker ul.prevNextMonth li:hover { color: #cce1f1 }


/* Friend Requests
 */
#friendRequestGroup > table { width: 100%; }

#friendRequestGroup > table td { padding: .2em 0; }


/* Graphs
 */
.graph-budget-line {
	border-top: .2em solid #6db1ea;
	box-sizing: border-box;
	color: #6db1ea;
	font-size: .7rem;
	padding: .2em 0 0 .2rem;
	position: absolute;
	width: 100%;
}

.graph-date-notch {
	border-right: 1px solid #495a69;
	box-sizing: border-box;
	color: #495a69;
	font-size: .8rem;
	height: 1.4rem;
	position: absolute;
}

.graph-date-notch .dateNode {
	position: absolute;
	bottom: 0;
	right: .2rem;
}

.graph-outside-wrapper {
	display: table;
	height: 50%;
	margin-bottom: 1rem;
	position: relative;
	width: 100%;
}

.graph-point {
	background: #495a69;
	height: 5px; width: 5px;
	position: absolute;
}

.graph-wrapper {
	background: #edf4f9;
	border: 1px solid #495a69;
	border-radius: .2rem;
	border-bottom-right-radius: 0;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}


/* Account Activation
 */
#accountActivate { padding: .8rem; }


/* Login & Signup
 */
#home a,
#home .fake-link {
	color: #cce1f1;
}

#home #login,
#home #signup {
	background: transparent;
	border: transparent;
	box-sizing: border-box;
	padding: .8rem;
	padding-top: 0;
}


#login-signup-toggle {
	margin: 0;
	padding: 0;
}

#login-signup-toggle li {
	border-bottom: 1px solid #3f4f5d;
	border-left: 1px solid #3f4f5d;
	border-top: 1px solid rgba(202,202,222,.0);
	display: block;
	float: left;
	font-size: 2rem;
	height: auto;
	list-style: none;
	margin: 0;
	padding: .8rem 0;
	text-align: center;
	width: 50%;
}

#login-signup-toggle li:nth-child(1) {
	border-left: 1px solid rgba(202,202,222,.0);
	border-right: 1px solid transparent;
	width: calc(50% - 1px);
}

#login-signup-toggle li:nth-child(2) {
	width: calc(50% + 1px);
}

#login, #signup {
	box-sizing: border-box;
	background: rgba(202, 202, 222, .5);
    border: 1px solid #3f4f5d;
    border-top: transparent;
    padding: .8rem;
}

#login h2, #login p,
#signup h2, #signup p {
	color: #798a99;
	margin-top: 0;
	text-align: center;
}

#login p,
#signup p {
	font-size: .9rem;
}

#login label,
#signup label {
	margin: 0;
}

#login input,
#signup input {
    background: rgba(228,242,253,.02);
    border: 1px solid rgba(228,242,253,.1);
}

#show-signup, #show-login {
	font-size: .8rem;
	margin: 0;
}

#login-signup-toggle li.tabSelected {
	background: rgba(202,202,222,.5);
	border-top: 1px solid #3f4f5d;
	border-bottom: 1px solid rgba(202,202,222,.0);
}

#login-signup-toggle li:nth-child(1).tabSelected {
	border-left: 1px solid #3f4f5d;
}

#login-signup-toggle li:nth-child(2).tabSelected {
	border-right: 1px solid #3f4f5d;
}

#login-signup-wrapper { margin: .5rem; }

#signup .firstname,
#signup .lastname,
#signup .password1,
#signup .password2 {
	float: left;
	width: calc(50% - .3rem);
}

#signup .firstname,
#signup .password1 { margin-right: .3rem; }

#signup .lastname,
#signup .password2 { margin-left: .3rem; }


#splashWrapper {
	position: fixed;
	height: 100%; width: 100%;
	top: 0; left: 0;
	z-index: -1;
}

#splashWrapper > .splash1 {
	background: url('../img/splash1.jpg') center center fixed;
}

#splashWrapper > .splash2 {
	background: url('../img/splash2.jpg') center center fixed;
}

#splashWrapper > .splash3 {
	background: url('../img/splash3.jpg') center center fixed;
}

#splashWrapper > .splash4 {
	background: url('../img/splash4.jpg') center center fixed;
}

#splashWrapper > div {
	background-size: cover !important;
	position: absolute;
	height: 100%; width: 100%;
}

#splash-iconWrapper {
	margin: 2rem auto 1.8rem auto;
	height: 48px; width: 48px;
}

#splash-iconWrapper > img {
	display: none;
	height: 100%; width: 100%;
	position: abolute;
}

#splash-iconWrapper > img:last-of-type {
	display: block;
}

.wordmark {
	color: rgba(228,242,253,.95);
	font-size: 3rem;
	text-align: center;
}


/* Navigation
 */
#nav {
	left: 0; right: 0; top: 0;
	position: fixed;
	z-index: 1;
}

#nav > a {
	border-bottom: 1px solid #495a69;
	background: #cce1f1;
	box-sizing: border-box;
	display: none;
	font-size: 1.2rem;
	margin: 0;
	padding: .6rem;
	width: 100%;
}

#nav a.menu { display: block; }

#nav .menu div {
	background: #495a69;
	border-radius: .12rem;
	height: .5rem;
	margin: .15rem 0;
	width: 2.2rem;
}

#nav .menu div:first-child { margin-top: 0; }

#nav .menu div:last-child { margin-bottom: 0; }

#searchFriendsWrapper {
	background: #cce1f1;
	border-bottom: 1px solid #495a69;
	box-shadow: 2px 2px 2px #495a69;
	display: none;
	padding: .6rem;
}

#searchFriends {
	border: 1px solid #495a69;
	border-radius: .2rem;
	color: #495a69;
	font-size: 1.4rem;
	height: 2rem;
	position: relative;
	padding: .2rem;
	width: 100%;
	z-index: 1;
}

#searchFriends input:focus + #searchResults { display: block; }

#searchFriends > * { float: left; }

#searchFriends img {
	height: 1.4rem;
	margin-right: .4rem;
}

#searchFriends input {
	background: rgba(0,0,0,0);
	box-shadow: none;
	border: 0;
	color: #495a69;
	font-size: 1.4rem;
	height: 1.6rem;
	outline-style:  none;
	margin-bottom: 0;
	padding: 0;
	position: relative;
	width: calc(100% - 1.8em);
	z-index: 2;
}

#searchFriends *::-webkit-input-placeholder { color: #495a69 !important; }

#searchFriends *:-moz-placeholder 			{ color: #495a69 !important; }

#searchFriends *::-moz-placeholder 			{ color: #495a69 !important; }

#searchFriends *:-ms-input-placeholder 		{ color: #495a69 !important; }

#searchResults {
	background: rgba(228,242,253,.95);
	border: 1px dashed #495a69;
	border-top: 0px;
	box-sizing: border-box;
	display: block;
	min-height: 2rem;
	padding: 0 .4rem;
	position: absolute;
	top: 2rem;
	left: 2%;
	width: 96%;
	z-index: 1;
}

#searchResults a {
	display: block;
	font-size: 90%;
}

#searchResults:hover { display: block; }


/* Profile
 */
#addFriend {
	margin-bottom: .5rem;
	padding: .4rem;
}

#addFriend:hover { background: #798a99; }

.friendList a { font-weight: normal; }

.friendList li {
	border: 1px solid #495a69;
	border-radius: .1rem;
	float: left;
	font-size: .86rem;
	height: 6em; width: 31.33%;
	line-height: 1.2em;
	margin: 1%; padding: .5em;
	transition: .s;
}

.friendList li:hover {
	background: #edf4f9;
}

#profile-info, #profile-feed {
 	background: #cce1f1;
	margin-bottom: .5rem;
	padding: .8rem;
}


/* Transactions
*/
.transaction {
	float: left;
	margin-bottom: 1em;
	width: 100%;
}

.transaction > p { margin: 0; }

.transaction .editButton {
	display: none;
	transition: .6s;
}

.transaction:hover .editButton {display: inline !important;}

.travelers {
	/*overflow: auto;*/
	margin-bottom: .6rem;
	/*max-height: calc(2.6rem * 5 + .6rem * 4);*/
}

.travelers div:last-of-type .ui-checkbox {
	margin-bottom: 0;
}

/* Trip List Section
 */
.trip-tile {
	border: 1px solid #495a69;
	margin: .5rem;
	padding: .5rem;
	transition: .2s;
}

.trip-tile:hover { background: #edf4f9; }


 /* Trip View Section
  */
.trip-header {
	margin-bottom: .5rem;
	overflow: auto;
	padding: 0 .8rem;
}

#trip #stats, #trip #activity {
	background: #cce1f1;
	margin-bottom: .5rem;
	padding: .8rem;
}

#tripStartDate, #tripEndDate {
	float: left;
	width: calc(50% - .3rem);
}

#tripStartDate { margin-right: .6rem; }


/* Media Queries
 */
@media (min-width: 768px) {
	body {
		min-width: 768px;
		padding-top: 0;
	}

	.alert {
		left: calc(50% - 12.5rem);
		top: 1rem;
		width: 25rem;
	}

	.dialogue {	width: 400px; }

	.popup {
		left: calc(50% - 200px);
		top: 1rem;
		width: 400px;
	}

	#main {
		margin: 0 auto;
		min-width: 900px; max-width: 1000px;
	}

	#main .left-col, #main .right-col { float: left; }

	#main .left-col {
		margin: 0 2% 0 0;
		width: 38%;
	}

	#main .right-col {
		margin: 0;
		width: 60%;
	}

	#accountActivate { margin-top: 2.975rem; }

	#login, #signup, #login-signup-wrapper {
		margin: 0 auto;
		width: 400px;
	}

	#searchFriendsWrapper {
		background: none;
		border: none;
		box-shadow: none;
		display: block;
		float: right;
		padding: 0;
	}

	#searchFriends {
		display: block;
		font-size: 1rem;
		margin: 0 1rem 0 0;
		width: 16rem;
	}

	#searchFriends input { font-size: inherit; }

	#splash-iconWrapper { margin: 4rem auto 3.6rem auto; }

	#nav {
		padding: .8em 1.4rem;
		position: relative;
	}

	#nav > a {
		background: transparent;
		border: none;
		display: block;
		float: left;
		margin: 0 1rem 0 0;
		padding: 0;
		width: auto;
	}

	#nav a.menu { display: none; }

	#nav .logout, #nav .login {
		float: right;
		margin: 0;
	}

	.transaction { width: 49%; }

	.transaction:nth-of-type(odd) {	padding-right: 2%; }

	#trip #name { float: left; }

	#trip #dateRange { float: right; }

	.trip-header { padding: 0; }

	.trip-header > * { margin-top: 1rem; }

	.trip-tile { margin: 0 0 .5rem 0; }
}

@media (min-width: 414px) {
	.ui-inputDuo > * {
		float: left;
		width: calc(50% - .3rem) !important;
	}

	.ui-inputDuo .first { margin-right: .3rem; }
	.ui-inputDuo .second { margin-left: .3rem; }
}