// Colors
$midnight: #495a69;   // Borders, headings, submit buttons, paragraphs, placeholder color on light inputs
$cool: #6db1ea;       // Link color
$smoke: #798a99;      // Login and signup inputs, link hover color, button hover background
$paleBlue: #cce1f1;   // Background trip and profile sections
$background: #e4f2fd; // Background
$paleSmoke: #edf4f9;  // Trip hover, placeholder color on dark inputs
$white: #ffffff;      // Button font color
$backgroundTransparent: rgba(228,242,253,.95); // Search results background
$textTransparent: rgba(237, 244, 248, .5);
