// Variables
@import "variables";

// Form Styles
@import "formDefault";
@import "formExtended";

// Pages
@import "profile";

// Modal Styles
@import "modals/activity";
@import "modals/carousel";
@import "modals/contextMenu";
@import "modals/datePicker";
@import "modals/nav";
@import "modals/popup";
@import "modals/report";
@import "modals/search";

// Basic Elements
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

*::-webkit-input-placeholder { color: $textTransparent !important; }
*:-moz-placeholder           { color: $textTransparent !important; }
*::-moz-placeholder          { color: $textTransparent !important; }
*:-ms-input-placeholder      { color: $textTransparent !important; }

.placeholder-dark {
	&::-webkit-input-placeholder { color: $midnight !important; }
	&:-moz-placeholder           { color: $midnight !important; }
	&::-moz-placeholder          { color: $midnight !important; }
	&:-ms-input-placeholder      { color: $midnight !important; }
}

[v-cloak] { display: none }

* { box-sizing: border-box; }

html { height: 100%; }

body {
	background: $background;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	height: 100%;
    margin: 0;
    min-height: 100%;
    padding-top: calc(3rem + 1px);
}

a, .fake-link {
	color: $cool;
	font-weight: 700;
	margin: .4em 0;
	text-decoration: none;
	transition: color .2s;

    &:hover { color: $smoke; }

    &.light {
    	color: white;
    	font-weight: normal;
    }

    &.paleBlue { color: $paleBlue; }

    &.subtext {
    	color: $smoke;
        font-weight: normal;
    }

	&.midnight{
		color: $midnight;

		&:hover { color: $smoke; }
	}

	&.smoke{
		color: $smoke;

		&:hover { color: $midnight;	}
	}
}

h1, h2, h3, h4, h5, h6, p {
	color: $midnight;
	font-weight: 500;
	margin: .5em 0;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

hr {
	border: none;
	border-bottom: 1px dashed $smoke;
}

p { line-height: 1.5rem; }

small { font-size: 60%; }

th { text-align:left }

ul {
	font-weight: 400;
	padding-left: 0;

    li {
       color: $midnight;
       height: 1.5rem;
       line-height: 1.5rem;
       list-style: none;
   }
}

// General
.centered { text-align: center; }

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.align-right, .align-right > * { text-align: right; }
.float-left                    { float: left; }
.float-right                   { float: right; }
.font-dark                     { color: $midnight; }
.hidden, .delay-visible        { display: none; }
.hovertext:hover               { opacity: .5; }
.left-col                      { margin: .6rem .6rem .3rem .6rem; }
.right-col                     { margin: .3rem .6rem; }
.margin-bottom                 { margin-bottom: .6rem; }
.margin-top                    { margin-top: .6rem; }
.marginless                    { margin: 0 !important; }
.space-upper                   { margin: .6rem 0; }
.spread						   { width: 100%; }
.visible                       { display: block !important; }

.section {
 	background: $paleBlue;
	border: 1px solid $paleBlueBorder;
	margin-bottom: .5rem;
	padding: .8rem;
}

.table-full {
	width: 100%;
}

.wordmark {
	color: $backgroundTransparent;
	font-size: 3rem;
	text-align: center;
}

#main {
	max-width: none;
	width: 100%;

	> div { overflow: auto; }
}

#splashWrapper {
	background: #000;
	position: fixed;
	height: 100%; width: 100%;
	top: 0; left: 0;
	z-index: -1;

    > div {
    	background-size: cover !important;
    	position: absolute;
    	height: 100%; width: 100%;
    }

    .splash1 { background: url('../img/splash1.jpg') center center fixed; }
    .splash2 { background: url('../img/splash2.jpg') center center fixed; }
    .splash3 { background: url('../img/splash3.jpg') center center fixed; }
    .splash4 { background: url('../img/splash4.jpg') center center fixed; }
}

// Modal Styles
.alert {
	background: $backgroundTransparent;
	border: 1px solid $midnight;
	border-radius: .2rem;
	left: 2%;
	padding: 2rem 1rem 1rem 1rem;
	position: fixed;
	top: 2%;
	width: 96%;
	z-index: 10;
}

.loading {
	border: .8rem solid $midnight;
	border-right-color: $smoke;
	border-bottom-color: #A3B6C5;
	border-left-color: $paleBlue;
	border-radius: 50%;
	height: 2.4rem; width: 2.4rem;
	position: absolute;
	top: calc(50% - .9rem); left: calc(50% - .9rem);
	z-index: 6;
	-webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}

// Trip List
.trip-tile {
	border: 1px solid $midnight;
	margin: .5rem;
	padding: .5rem;
	transition: .2s;

    &:hover { background: $paleSmoke; }
}

 // Trip View
.trip-header {
	margin-bottom: .5rem;
	overflow: auto;
	padding: 0 .8rem;
}

#stats > hr:last-of-type {
	display: none
}

.scroll {
    overflow: auto;

	&.scroll-midnight {
		&::-webkit-scrollbar {
		    width: 6px;
		    background-color: $paleBlueBorder;
		}

		&::-webkit-scrollbar-thumb {
		    background-color: $midnight;
		}
	}
}

@media (min-width: 1016px) {
	#main {
		width: 1000px;
	}
}

@media (max-width: 1015px) and (min-width: 768px) {
	#main {
		padding: 0 .5em;
	}
}

// Responsive
@media (min-width: 768px) {
	body {
		min-width: 768px;
		padding-top: 0;
	}

	.alert {
		left: calc(50% - 12.5rem);
		top: 1rem;
		width: 25rem;
	}

	.left-col, .right-col { float: left; }

	.left-col,  {
		margin: 0 2% 0 0;
		width: 38%;
	}

	.right-col {
		margin: 0;
		width: 60%;
	}

	#main {
		margin: 0 auto;
	}

	.trip-header { padding: 0; }
	.trip-header > * { margin-top: 1rem; }
	.trip-tile { margin: 0 0 .5rem 0; }

	#trip {
		#name { float: left; }
		#dateRange { float: right; }
	}
}

@media (max-width: 768px) {
	.single-col { margin: .6rem; }
}
