.menu {
    position: relative;

    .trigger {
        &:hover  + .body {
            visibility: visible;
            opacity: 1;
        }

        .caret {
            color: $midnight;
            font-size: .8rem;
        }
    }

    .body {
        background: $paleBlue;
        border: 1px solid $smoke;
        border-radius: .2rem;
        visibility: hidden;
        opacity: 0;
        padding: .4rem .4rem .3rem .4rem;
        position: absolute;
        right: 0; top: calc(100% + .8rem;);
        transition: visibility 0s, opacity 0.1s linear;
        transition-delay: .2s;
        z-index: 2;

        li {
            white-space: nowrap;

            &:hover { color: $cool; }
        }

        &:hover {
            visibility: visible;
            opacity: 1;
        }

        p {
            height: 1.4rem;
            line-height: 1rem;
            padding: .2rem;
            margin: 0;
        }

        .arw-up-right {
            width: 0;
    		height: 0;
    		border-bottom: 12px solid $smoke;
    		border-left: 12px solid transparent;
            right: -.8px; top: -11.2px;
            position: absolute;

    		> div {
    			width: 0;
    			height: 0;
    			border-bottom: 11px solid $paleBlue;
    			border-left: 11px solid transparent;
    			right: 1px;
    			position: absolute;
    			top: 2.5px;
    		}
        }

        .invis {
            height: 1rem;
            width: 100%;
            right: 0;
            position: absolute;
            bottom: 100%;
        }
    }
}
