#searchFriendsWrapper {
    background: #cce1f1;
    border-bottom: 1px solid #495a69;
    box-shadow: 2px 2px 2px #495a69;
    display: none;
    padding: .6rem;
    width: 100%;
}

#searchFriends {
	border: 1px solid $midnight;
	border-radius: .2rem;
	color: $midnight;
	font-size: 1.4rem;
	height: 2rem;
	position: relative;
	padding: .2rem;
	width: 100%;
	z-index: 1;

    > * { float: left; }

    img {
    	height: 1.4rem;
    	margin-right: .4rem;
    }

    input {
    	background: transparent;
    	box-shadow: none;
    	border: 0;
    	color: $midnight;
    	font-size: 1.2rem;
    	height: 1.6rem;
    	outline-style:  none;
    	margin-bottom: 0;
    	padding: 0;
    	position: relative;
    	width: calc(100% - 1.8em);
    	z-index: 2;

        &:focus + #searchResults { display: block; }
    }
}

#searchResults {
	background: $backgroundTransparent;
	border: 1px solid $midnight;
    border-top: 0px;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
	display: block;
	min-height: 2rem;
	position: absolute;
	top: calc(2rem - 1px);
	left: 2%;
	width: 96%;
	z-index: 1;

    a {
        border-bottom: 1px dashed $smoke;
        font-size: 1.2rem;
        line-height: normal;
    	display: block;
        margin: 0;
        padding: .4rem .4rem;
        width: 100%;
    }

    a:last-of-type {
        border-bottom: none;
        border-bottom-left-radius: .4rem;
        border-bottom-right-radius: .4rem;
    }
}

@media (min-width: 768px) {
	#searchFriendsWrapper {
		background: none;
		border: none;
		box-shadow: none;
		display: block;
		float: left;
		padding: 0;
	}

	#searchFriends {
		display: block;
		font-size: 1rem;

		input { font-size: inherit; }
	}
}
